.mcq {
  width: 80%;

  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 30px #888888;
  border-radius: 10px;
}

.question {
  padding: 20px;
}

.border {
  width: 100%;
  /* margin: auto; */
  border-bottom: 1px solid rgb(165, 165, 165);
}

.option-ans {
  padding-left: 20px;
  padding-bottom: 20px;
}

.answer {
  width: 80px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
}

.hk1_style-wrap4 {
  width: 70%;
  background-color: rgba(247, 247, 247, 0.788);
  border-radius: 10px;
}
